[submodule "TKS-Bootstrap_Proxmox"]
	path = TKS-Bootstrap_Proxmox
	url = https://github.com/zimmertr/TKS-Bootstrap_Proxmox
	branch = master
[submodule "TKS-Bootstrap_Kubernetes"]
	path = TKS-Bootstrap_Kubernetes
	url = https://github.com/zimmertr/TKS-Bootstrap_Kubernetes
	branch = master
[submodule "TKS-Deploy_Kubernetes_Apps"]
	path = TKS-Deploy_Kubernetes_Apps
	url = https://github.com/zimmertr/TKS-Deploy_Kubernetes_Apps
	branch = master
