# Proxmox
export PROXMOX_VE_ENDPOINT="https://earth.sol.milkyway:8006"
export PROXMOX_VE_INSECURE="true"
export PROXMOX_VE_API_TOKEN="terraform@pve!terraform=REPLACEME"
export PROXMOX_VE_SSH_USERNAME="root"
export PROXMOX_VE_SSH_AGENT="true"

# Cluster
export CLUSTER_ID="test"

# Kubernetes
export TF_VAR_CLUSTER_NAME="$CLUSTER_ID"

# Controlplanes
export TF_VAR_CONTROLPLANE_HOSTNAME_PREFIX="$CLUSTER_ID-k8s-cp"
export TF_VAR_CONTROLPLANE_TAGS="clusterid-$CLUSTER_ID,controlplane"

# Worker Nodes
export TF_VAR_WORKERNODE_HOSTNAME_PREFIX="$CLUSTER_ID-k8s-node"
export TF_VAR_WORKERNODE_TAGS="clusterid-$CLUSTER_ID,workernode"
