export PROXMOX_VE_ENDPOINT="https://earth.sol.milkyway:8006"
export PROXMOX_VE_INSECURE="true"

export PROXMOX_VE_API_TOKEN="REPLACEME"

export PROXMOX_VE_SSH_AGENT="true"
export PROXMOX_VE_SSH_USERNAME="root"
