export PM_API_URL="https://192.168.1.10:8006/api2/json"  # Your Proxmox IP
export PM_API_TOKEN_ID="root@pam!terraform"              # Your User!TokenID
export PM_API_TOKEN_SECRET="00000000-0000-0000-0000-00000000000"        # The Secret you copied earlier
# Connection Details
# Note: Ensure you include https:// and port 8006.
export PROXMOX_VE_ENDPOINT="https://192.168.1.10:8006/"

# API Token
# Format must be: USER!TOKENID=UUID
export PROXMOX_VE_API_TOKEN="root@pam!terraform=00000000-0000-0000-0000-0000000000000"

# Trust Self-Signed Certificates (Required for default Proxmox installs)
export PROXMOX_VE_INSECURE=true

export PROXMOX_VE_SSH_USERNAME="root"
export PROXMOX_VE_SSH_AGENT=false
export PROXMOX_VE_SSH_PRIVATE_KEY=$(cat /home/changeme/.ssh/id_rsa)