apiVersion: v1
kind: ConfigMap
metadata:
    namespace: metallb-system
    name: config
data:
    config: |
        address-pools:
        - name: DMZ
          protocol: layer2
          addresses:
          - {{ metallb_dmz_ip_range }}
        - name: LAN
          protocol: layer2
          addresses:
          - {{ metallb_lan_ip_range }}
