kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: run-nfs-client-provisioner
  namespace: {{ nfs_namespace }}
subjects:
  - kind: ServiceAccount
    name: nfs-client-provisioner
    namespace: {{ nfs_namespace }}
roleRef:
  kind: ClusterRole
  name: nfs-client-provisioner-runner
  namespace: {{ nfs_namespace }}
  apiGroup: rbac.authorization.k8s.io
